<h2><%= link_to "Create a new category", new_category_path %></h2>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h2> Click a category to view products or add new ones </h2>
<ul id="categories">
<% @categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
<% end %>
