/* Main */
body {
  background-color: #0066FF;
}

#wrapper {
  background-color: #FFF;
}

#wrapper li {
  list-style: none;
}

#wrapper li a {
  list-style: none;
  text-decoration: none;
}

#mainlist li {
  margin-top: 5px;
}
